.home{
  width: 1200px;
  margin: 0 auto;
  min-height: 76.5vh;
  display: flex;
  flex-wrap: wrap;
}
.home img{
  height: 350px;
  width: 240px;
}
.home-text{
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-text span{
  font-size: 30px;
  box-shadow: 0 40px 70px 20px black;
  font-family: Marker Felt, fantasy;
}
