.movie-like{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 76.5vh;
}
.movie-like img {
 height: 300px;
}
.movie-like-box{
  margin: 10px 13px 10px 15px;
  position: relative;
}
.movie-like-box button{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  position: absolute;
  top:0;
  left: 0;
  text-transform: uppercase;

}
